@charset "utf-8";

$fontFamily1: Indie Flower, sans-serif;
$fontFamily2: Patrick Hand, sans-serif;
$fontFamily3: Roboto,sans-serif;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    display: block; 
    background-color: white;
    font-family: serif;
    font-size:1.2vw;
    text-align: justify;
    line-height: 1.5;
}

h2{
    padding: 5rem 5rem 2rem 5rem;
    font-family: $fontFamily2;

}
p{
    padding: 1rem 5rem;
    font-family: $fontFamily3;
}
body{
    header{

        nav{
            position: fixed;
            background-color: rgba(198, 228, 224, 1)!important;
            z-index: 10000;
            width: 100%;
            ul{
                display: flex;
                padding-left: 3rem;
                li{
                    list-style: none;
                    font-size: 1em;
                    padding: 0.2em 1em ;
                    
                    font-family: $fontFamily2;
                    text-transform: uppercase;

                    letter-spacing: 0.1em;
                    a{
                        text-decoration: none;
                        color:black;
                    }
                }
            }
        }
        h1{
            display:flex;
            font-family: $fontFamily1;
            justify-content: center ;
            font-size: 3em;
            padding: 2em;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                background: url("grass.svg") ;
                background-size: 11.7em 3.1em;
                background-position: center 93% ;/* center 100% pour que ce soit sur le titre*/
                width: 11.7em; 
                height: 2em;
                opacity: 0.25;
                animation: grassMooving ease-out 1.6s .0s;
            }
            &::before{
                content: "";
                position: absolute;
                background: white ;
                z-index: 1000;
                background-size: 11.7em 1em;
                background-position: center  ; 
                width: 11.7em; 
                height: 1em;
                bottom: 1.4em;  
            }  
            @keyframes grassMooving{
                from{
                    opacity: 0;
                    background-position: center 0% ; 
        
                }
                to {
                    background-position: center 93% ; 
                    opacity: 0.25;
        
                }
                
            }
    }
    #passion{
        background-color: rgb(240, 240, 240); 
        width: 100%;
        p,h2{
            text-align: center;
        }
        p{
            font-size: 1.1rem;
        }

    }
}